@import "../../App.scss";

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    margin: .2em 0;
    box-shadow: .1rem .1rem .2rem 0 rgba(0, 0, 0, 0.2);
    padding: 0em 1em 1em 1em;
    @media all and (min-width: 1025px) {
        margin: 0 auto;
        width: 50%;
    }
}

.title {
    text-align: center;
}

.content {
    font-family: $text-font;
    margin-bottom: 1rem;
}

.contentLine {
    margin: .5em;
}

.btnDone {
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    border-color: transparent;
}

.btnContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}
