@import "../../../App.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.2rem 2rem;
  background-color: $green;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: $logo-font-size;
  color: $logo-font-color;
  font-family: $logo-font;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
