@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

$white: #f7f0f0;
$green: #66bb63;
$yellow: #f2bb05;
$darkgrey: #484349;
$lightgrey: #c4c4c4;
$logo-font: "Pacifico", "Times New Roman";
$text-font: "Lato", "Arial";
$logo-font-color: white;
$logo-font-size: 2rem;

body {
  // background-color: $white;
  font-family: $text-font;
  position: relative; 
  min-height: 100%;
  padding: 6rem 2rem 6rem 2rem;
}